@tailwind base;
@tailwind components;
@tailwind utilities;

[data-slice-zone-todo-component] {
  display: none;
}

.swiperBanner .swiper-pagination-bullet {
  width: 30px !important;
  height: 4px !important;
  border-radius: 0 !important;
  background-color: white !important;
}

.swiperPhotos .swiper-pagination-bullet {
  background-color: white !important;
}
