@tailwind base;
@tailwind components;
@tailwind utilities;

body.modal-open {
  overflow: hidden;
}

[data-slice-zone-todo-component] {
  display: none;
}

.bannerSlider .swiper-pagination-bullet {
  width: 30px !important;
  height: 4px !important;
  border-radius: 0 !important;
  background-color: white !important;
}

.swiperPhotos .swiper-pagination-bullet {
  opacity: 1;
  border: 1px solid #37ae80;
  background-color: white;
}

.swiperPhotos .swiper-pagination-bullet-active {
  background-color: #37ae80 !important;
}
